# Review Service Configuration
PORT=5017
MONGODB_URI=mongodb://localhost:27017/ecommerce_review
RABBITMQ_URL=amqp://guest:guest@localhost:5672
ORDER_SERVICE_URL=http://localhost:5012
PRODUCT_SERVICE_URL=http://localhost:5009
SECRET_TOKEN=ecommerce_jwt_secret_dev_key
JWT_SECRET=ecommerce_jwt_secret_dev_key
